{% extends 'base.html.twig' %}

{% block title %}Applications de recettes - Accueil
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="jumbotron">
    <div class="container mt-4">
			<h1 class="display-4">Titre h1</h1>
			<p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis porro fuga consectetur illum excepturi adipisci repellendus animi atque, quae, exercitationem nobis veniam illo quos molestias cumque non delectus nostrum sed!</p>
			<p>Pour commencer rendez-vous sur la page d'inscription</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire ici</a>
			</p>
            </div>
		</div>
    </div>
	{% endblock %}
