{% extends 'base.html.twig' %}

{% block title %}Modifier vos données
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt4">
			Modifier vos informations
		</h1>

        {{ form(form) }}
	</div>

{% endblock %}